# VoxMed API Configuration

# Gemini API Configuration
GEMINI_API_KEY=AQ.Ab8RN6JXTgU3v6FoTTzHoM6exzn4SgN_odT4hRSb5WBxCShjSw
GEMINI_MODEL=gemini-2.5-flash

# Application Configuration
APP_NAME=VoxMed Respiratory Sound Analysis API
APP_ENV=development
PORT=8000
HOST=0.0.0.0
CORS_ORIGINS=["http://localhost:4200","http://127.0.0.1:4200","http://localhost:8501"]
